html {
    height: auto;
    min-height: 100%;
    min-width: 600px;
    background-image: linear-gradient(130deg, #FFFFFF, rgba(36, 120, 177, 0.637));
}


header {
    background: grey;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-family: "Pacifico";
}

.counterLogo {
    position: absolute;
    align-self: center;
    left: 5%;
    display: inline-block;
}

.logoCounter {
    display: block;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 40%
}

.counterTextClass {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 7%;
    font-family: "Pacifico";
    font-size: 80px;
}

.main {
    position: flex;
    left: 40%;
    width: 600px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: "Pacifico";
    padding: 20px    
}

.logo {
   display: flex;
   margin: auto;
   flex-direction: column;
   max-width: auto;
   align-items: center;
}

form {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    border-style: solid;
    border-color: grey;
}

input[type="text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: "Pacifico";
    color: grey;
    flex-grow: 1;
}

button {
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: none;
    color: grey    
}
button:hover {
    color: rgba(36, 120, 177, 0.637)
}

.todo {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 25px;
    height: 100%;
}

ul {
    padding-left: 10px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    font-size: 1rem;
    color: grey
}

.clearList {
    display: flex;
    justify-content: flex-end;    
    padding: 10px, 3px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 2px;
    
}

.clearList:hover{ color: rgba(36, 120, 177, 0.637);
}

.completed {
color: red;
text-decoration: line-through;
}

.deleteItem {
position: absolute;
justify-content: flex-end;
margin-right: 5px;
left: 65%;
color: grey
}