html, body {
 height: 100%;
 margin: 0;
}

body {
    background-image: linear-gradient(130deg, #FFFFFF, rgba(36, 120, 177, 0.637));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background: grey;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-family: "Pacifico";
}

.counterLogo {
    position: absolute;
    max-width: 50%;
    margin-left: 30%;
    align-self: center;
    left: 5%;
    display: inline-block;
}

.logoCounter {
    
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 40%
}

.counterTextClass {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 7%;
    font-family: "Pacifico";
    font-size: 80px;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 28%;
    width: 600px;
    font-family: "Pacifico";
    padding: 20px;
    animation: load-page 1s ease-in;
    
}

.logo {
   display: flex;
   margin: auto;
   flex-direction: column;
   max-width: auto;
   min-width: auto;
   align-items: center;
}

.logoImage {
    max-width: 100%;
    min-width: 30%;
}

form {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    border-style: solid;
    border-color: grey;
    margin-top: 40%;
}

#placeholder {
    position: absolute;
    text-align: left;
    color: red;
    opacity: 0%;   
}

@keyframes placeholder-flash {
    0%{opacity: 0%;}
    25%{opacity: 100%;}
    50%{opacity: 0%;}
    75%{opacity: 100%}
    100%{opacity:0%}
}

#placeholder.placeholder-flash{
    position: absolute;
    text-align: left;
    color: red;
    opacity: 0%;
    animation: placeholder-flash 1s;    
}  



input[type="text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: "Pacifico";
    color: rgb(0, 0, 0);
    flex-grow: 1;
}

button {
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: none;
    color: grey    
}
button:hover {
    color: rgba(36, 120, 177, 0.637)
}

.todo {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 25px;
    height: 100%;
}



ul {
    padding-left: 10px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    animation: load-page 300ms ease-in;
}

.clearList {
    display: flex;
    justify-content: flex-end;    
    padding: 10px, 3px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 2px;
    
}

.clearList:hover{ color: rgba(36, 120, 177, 0.637);
}

.completed {

transition: text rgb(0, 0, 0) 10s; 
text-decoration: line-through;
animation: text-complete 500ms;
animation-fill-mode: forwards;
}

.deleteItem {
position: absolute;

margin-right: 0%;
left: 85%;
color: grey
}

@keyframes load-page {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes text-complete {
    0% {
        color: black;
    }
    100% {
        color: grey;

    }
}

